practical-3/data/notes_schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--Hayley Dodkins u21528790-->
    <xs:element name="notes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="note" type="noteType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="noteType">
        <xs:sequence>
            <xs:element name="author" type="xs:string"/>
            <xs:element name="content" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>

</xs:schema>